.gradle/
build/
*/build/
!gradle/wrapper/gradle-wrapper.jar
*.iml
.idea/
.DS_Store
*.iws
*.ipr
captures/
.externalNativeBuild
caches/
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/shelf/
.idea/workspace.xml
.local.properties
*.jks
*.keystore
bin/
gen/
out/
release/
*.log
.idea/codeStyles/
.idea/runConfigurations/
*.lock
*.tmp
Thumbs.db
*.apk
*.aab
*.o
*.so
libs.versions.toml.versionsBackup
*.class